{% extends "products/base.html" %}

{% block content %}
{% for detail in details %}
    <h1>{{ detail.name }}</h1>
    {% if detail.thumbnail %}
        <h2><img src=" {{ detail.thumbnail.url }}"></h2>
        {% else %}
            <p>Image unavailable</p>
    {% endif %}
    <h3>Price: {{ detail.price }}</h3>
    <h4>Date added: {{ detail.date_added|date:"d/m/Y" }}</h4>
    <p>Description: {{ detail.description }}</p>
    <p>Category: {{ detail.category }}</p>
    <p>Posted by: {{ detail.owner }}</p>
{% endfor %}
{% endblock content %}
